---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Code from "~/components/code.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import Writing from "~/components/writing.astro";
import Speaking from "~/components/speaking.astro";
import social from "/public/tjtsocial.jpeg"

const { generator, site } = Astro;
const image = new URL(social.src, site);
const description =
  "Teach Jenn Tech creates a space to allow individuals to remove shame, explore tech, and share resources with thought leaders in the industry.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/tjtfavicon.png" type="image/png+xml" />
    <meta name="generator" content={generator} />

    <title>Teach Jenn Tech</title>
    <meta name="description" content={description} />

    <!-- social media -->

  <!-- HTML Meta Tags -->
  <title>Teach Jenn Tech</title>
  <meta name="description" content="Teach Jenn Tech creates a space to allow individuals to remove shame, explore tech, and share resources with thought leaders in the industry.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://teachjenntech.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Teach Jenn Tech">
  <meta property="og:description" content="Teach Jenn Tech creates a space to allow individuals to remove shame, explore tech, and share resources with thought leaders in the industry.">
  <meta property="og:image" content="https://user-images.githubusercontent.com/77285384/215361357-dd34e872-8100-4405-8485-9c34193aaaaa.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="teachjenntech.com">
  <meta property="twitter:url" content="https://teachjenntech.com">
  <meta name="twitter:title" content="Teach Jenn Tech">
  <meta name="twitter:description" content="Teach Jenn Tech creates a space to allow individuals to remove shame, explore tech, and share resources with thought leaders in the industry.">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/77285384/215361357-dd34e872-8100-4405-8485-9c34193aaaaa.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Code />
      <Writing />
      <Speaking />
    </div>
    <Footer />
  </body>
</html>
