---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://teachjenntech.com/",
    description: "Teach Jenn Tech's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "bi:github",
  },
  {
    url: "https://twitter.com/jennjunod",
    description: "Jenn on Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.linkedin.com/in/jennjunod/",
    description: "Jenn on LinkedIn",
    icon: "mdi:linkedin",
  },
  {
    url: "https://hachyderm.io/@JennJunod",
    description: "Jenn on Mastodon",
    icon: "mdi:mastodon",
  },
  {
    url: "https://www.tiktok.com/@jennjunod",
    description: "Jenn on TikTok",
    icon: "simple-icons:tiktok",
  },
  {
    url: "https://www.twitch.tv/jennjunod",
    description: "Jenn on Twitch",
    icon: "icomoon-free:twitch",
  },
  {
    url: "https://www.youtube.com/channel/UCOYqYy7ebj5j63TbdGB-Lcg?sub_confirmation=1",
    description: "Jenn on YouTube",
    icon: "bi:youtube",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
