---
import { Image } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import portrait from '~/assets/jennjunodportrait.jpeg';
---

<ContentSection title="Jenn Junod" id="intro">
  
  <!-- <png slot="eyebrow" name="logomark" class="h-32" /> -->
  <Image slot="eyebrow" src={portrait} name="logomark" class="h-40 object-contain" />
  
  <Fragment slot="lead">
    <span class="text-primary">Curious </span> |
    <span class="text-primary">Inclusive </span> |
    <span class="text-primary">Open</span>
    <div>
<p><center>I’m Jenn Junod, it’s lovely to meet you! 

  As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting Sh!t You Don't Want to Talk About, or being a Developcado.
  
  I am a developcado (devrel), speaker, podcast host, and live streamer. </center></p>
</div>
  </Fragment>
  <!-- <div class="grid grid-cols-4 gap-2 sm:grid-cols-4">
    <a
      href="https://twitter.com/JennJunod"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="telescope" class="h-8" />
      <span>Twitter</span>
    </a>
    <a
      href="https://www.linkedin.com/in/jennjunod/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>LinkedIn</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
    
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <png pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a> -->
  </div>
</ContentSection>
