---
import "@fontsource/inter/variable.css";
import { Image } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import portrait from '~/assets/jennjunodportrait.jpeg';
import { Icon } from "astro-icon";
import "~/styles/theme.css"
import "~/styles/index.css";
---

<ContentSection title="Jenn Junod" id="intro">
  
  <!-- <png slot="eyebrow" name="logomark" class="h-32" /> -->
  <Image slot="eyebrow" src={portrait} name="logomark" class="h-40 object-contain" />
  <Fragment slot="lead">
      <span class="text-primary">Curious </span> |
      <span class="text-primary">Inclusive </span> |
      <span class="text-primary">Open</span>

    <div>


  <font size= "h3"><center><b>✨Hello beautifu human! It’s lovely to meet you!✨</b></font> </center>
  <font size= "h3"><font color="#818CF8"><center>I am a developer advocate, international speaker and MC, podcast host, and live streamer.</font> </center>

<p><center> As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting   <a href="https://www.shit2talkabout.com/"><u>Sh!t You Don't Want to Talk About Podcast</a></u>, or being a Developcado(Developer Advocate). </center></p>
  
  
  </div>
 
</ContentSection>

<ContentSection title="Hire me" id="work">
<Fragment slot="lead">
  <span class="text-primary">    I’m open to full-time, consulting, content creation, and more! </span> 
  <span class="text-secondary">   </span> 

  <font size= "h3"><center><b>✨Located in Denver, CO USA area or Remote✨</b></font> </center>
  <!-- <p>I am looking for my next adventure!</p> -->
<ul style=“list-style-type:square”>
  <li>  ➡ Devloper Relations | Evangelist | Advocate</li>
  <li>  ➡ Community Manager</li>
  <li>  ➡ Technical Writer</li>
</ul>

<div class="grid grid-cols-1 gap-2 sm:grid-cols-3">
  <a
    href="livestream"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <span>Stream Schedule</span>
  </a>
  <a
    href="portfolio"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <span>Portfolio</span>
  </a>
  <a
  href="resume"
  class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
>
  <span>Resume</span>
</a>
</ContentSection>