---
import { Image } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import portrait from '~/assets/jennjunodportrait.jpeg';
import { Icon } from "astro-icon";
---

<ContentSection title="Jenn Junod" id="intro">
  
  <!-- <png slot="eyebrow" name="logomark" class="h-32" /> -->
  <Image slot="eyebrow" src={portrait} name="logomark" class="h-40 object-contain" />
  
  <Fragment slot="lead">
    <span class="text-primary">Curious </span> |
    <span class="text-primary">Inclusive </span> |
    <span class="text-primary">Open</span>
    <div>
<p><center>I’m Jenn Junod, it’s lovely to meet you!

  As someone who thrives on human connection, I advocate for those who have gone unheard. My passion and experience create a space where people can come together, be it learning live, hosting Sh!t You Don't Want to Talk About, or being a Developcado.
  
  I am a developcado (devrel), speaker, podcast host, and live streamer. </center></p>
<!-- </div>
  </Fragment>
  <div>
    <a
      href= "#footer"
      class="flex items-center justify-center gap-2 border-2 border-current px-10 py-5"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Let's Connect</span>
    </a>
  </div> -->


  </div>
</ContentSection>
