---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getSpeaking } from "~/data/speaking/index"

const sites = await getSpeaking();
---
<ContentSection title="Speaking" id="speaking">
<Fragment slot="lead">
<span class="text-primary">Creative</span>.{" "}
<span class="text-primary">Inclusive</span>. {" "}
<span class="text-primary">Open</span>.
</Fragment>
<div class="max-w-6xl space-y-2">
<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
{sites.map((site) => <ShowcaseCard site={site} />)}
</div>
</div>
</ContentSection>
