---
// import { Picture } from "@astrojs/image/components";
// import { Icon } from "astro-icon";
//import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";
import Header from "~/components/header.astro";
//import Starfield from "~/components/starfield.astro"; line 14   <Starfield />
//import blobs from "~/components/blobs.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-1/2 bg-black">
<Header />
  <div class="absolute inset-0">
    <!-- <div class="absolute left-1/4 top-1/4 w-64 h-64 bg-pink-200 rounded-full blur-3xl"></div> -->
    <div class="absolute right-2.5 top-2.5 bottom-2.5 left-2.5 w-112  h-112 "></div>
  </div>
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0">
  <HeroImage />
  </div>
</section>

<!-- <noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript> -->