---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getStream } from "~/data/stream/index"

const sites = await getStream();
---
<ContentSection title="Stream Schedule" id="stream">
  <Fragment slot="lead"> 
    <span class="text-primary">Updated Monthly</span>
  </Fragment>
  <div class="max-w-50vh space-y-4">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-5">
    {sites.map((site) => 
  (  <div>
    <ShowcaseCard site={site} />
    <center>{site.date}</center>
    </div>))} 
    <!-- {sites.map((site) => <ShowcaseCard site={site} />)} -->
    </div>
</div>
</ContentSection>
