---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getStream } from "~/data/stream/index"

const sites = await getStream();
---
<ContentSection title="Stream Schedule" id="stream">
<!-- <Fragment slot="lead">
<span class="text-primary">Twitch</span>.{" "}
    <span class="text-primary">YouTube</span>. {" "}
    <span class="text-primary">Twitter Spaces</span>.
</Fragment> -->
<div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {sites.map((site) => 
  (  <div>
    <ShowcaseCard site={site} />
    {site.date}
    </div>))}
    </div>
</div>
<a>Updated at the beginning of every month</a>
</ContentSection>
